*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(2ndpic.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jobpost-form{
    width: 380px;
    padding: 40px;
    background: rgba(247, 239, 239, 0.08);
    border: 2px solid;
    
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgb(88, 75, 196);
    color: rgb(31, 29, 29);
}
input,textarea{
    width: 100%;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 15px;

    background: rgb(255,255,255,0.2);
    border: 1px solid white;
    border-radius: 11px;

    color: white;
    outline: none;
     

}