/**{
    margin: 100%;
    height: auto;
}*/

body {
    font-family: 'Roboto', sans-serif;
    color: #94a3b8;
    background-color: #020617;
    line-height: 1.2;
}
.top-section {
    background-color: #020617;
    padding: 0 40px;
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-img {
    height: 35px;
}

.logo-text {
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-size: 28px;
    font-weight: 1000;
    letter-spacing: 2px;
    color: #f8fafc;
}
.logo-text::first-letter{
    font-size: 40px;
    
}
.slogan{
    color: #2563eb;
    font-family: josophine;
}
.main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #f8fafc;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #f8fafc;
}

.btn {
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 6px;
}

.btn:hover {
    background-color: #020617;
    transform: translateY(-1px);
}

.btn-signup {
    background-color: #020617;
    color: var(--white);
    font-weight: 600;
}
h2{
    text-align: center;
    color: white;
}
h1{
   color: white; 
}
h3{
    text-align: center;
}
.container{
        display: grid;
        display: flex;
        place-items: center;
        margin-inline: 1.5rem;
        padding-block: 5rem;
        border-bottom: 50px solid rgba(255, 255, 255, 0.05);
    }
    .card-container{
        display: grid;
        row-gap: 3.5rem;

    }
    .card-article{
        position: relative;
        overflow: hidden;

    }
    .card-img{
        width: 323px;
        border-radius: 1.5rem;

    }
    .card-data{
        width: 200px;
        height: 220px;
        color: #020617;
        background-color: white;
        padding: 1rem 1.5rem;
        box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
        border-radius: 1rem;
        bottom: -11rem;
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto;
        opacity: 0;
        transition: opacity 1s 1s;
    }
    .card-description{
        display: block;
        font-size: 20px;
        margin-bottom: .25rem;
    }
    .card-tittle{
        font-size: 25px;
        font-weight: 500;
        color: rgb(10, 165, 90);
        margin-bottom: .75rem;
    }
    .card-button{
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: rgb(18, 37, 245);
    }
    .card-button:hover{
        text-decoration: underline;
    }
    .card-article:hover .card-data{
        animation: show-data 1s forwards;
        opacity: 1;
        transition: opacity .3s;

    }
    .card-article:hover{
        animation: remove-overflow 2s forwards;
    }

    .card-article:not(:hover){
        animation: show-overflow 2s forwards;
    }

    .card-article:not(:hover)  .card-data{
        animation: remove-data 1s forwards;
    }

    @keyframes show-data{
        50%{
            transform: translateY(-12rem);
        }
        100%{
            transform: translateY(-12rem);
        }
    }

    @keyframes remove-overflow{
        to{
            overflow: initial;
        }
    }
    
    @keyframes remove-data{
        0%{
            transform: translateY(-7rem);
        }
        50%{
            transform: translateY(-10rem);
        }
        100%{
            transform: translateY(.5rem);
        }
    }


@keyframes overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
@media screen and (max-width: 340px) {
    .container{
      margin-inline: 1rem;
    }

    .card-data{
        width: 250px;
        padding: .8rem;
        height: 300hv;
        font-size: 20px;

    }
}

@media screen and (min-width: 768px) {
   .card-container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
   } 
}

@media screen and (min-width: 1120px) {
    .container{
        height: 100hv;
    }
   .card-container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
   } 
   .card-data{
    width: 300px;
    padding-inline: 2rem;
   }
   .card-img{
    width: 400px;
    height: 50hv;
    padding-inline: 2rem;
    border-radius: 3rem;
   }
}  

/*footer*/
.login-footer {
    text-align: center;
    margin-top: 50px;
}

.login-link {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}
.job{
    border: solid;
    width: 9cm;
    height: 7cm;
    padding: 20px;
}
.category{
    padding: 0.5cm;
    margin: 0.5cm;
    display: flex;
}
.main{
    padding: 0.5cm;
}
h3{
}
h2{
    text-align: center;
}
.first{
    padding: 0.5cm;
}

