*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(image.JPG);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jobpost-form{
    width: 380px;
    padding: 40px;
    background: rgba(247, 239, 239, 0.08);
    border: 2px solid;
    
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgb(51, 41, 145);
    color: rgb(18, 17, 17);
}
